html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(249, 157, 51, 0.16) ;
  margin: 0;
  color: red;
}

#note {
  position: absolute;
  font-size: 20px;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
.navbar-nav{
  font-size: 20px;
  color: orange;
}
.navbar{
  color: red;
}